---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <div class="post-main">
      {{ post.content | split:'<!-- more -->'| first }}
      <div class="readall"><a href="{{ post.url }}" id="post-readall">阅读全文&nbsp;<i class="fa fa-chevron-right"></i></a></div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>


<!-- 文章列表展示 
<div class="panel panel-pithy posts">
    <div class="panel-heading">
      <h3 class="title">
        <a href="{{ post.url | prepend: site.url }}"><i class="fa fa-bookmark-o"></i>{{post.title}}</a>
      </h3>
    </div>
    <div class="panel-body excerpt">
        {% if post.excerpt.size > 32 %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content | strip_html | strip_newlines | truncate: 160 }}
        {% endif %}
    </div>
    <div class="panel-footer operate">
        <div class="pull-right">
          <span class="time"><i class="fa fa-clock-o"></i>{{ post.date | date: "%Y年%m月%d日"}}</span>
          <a class="read" href="{{ post.url | prepend: site.url }}#post-content"><i
                  class="fa fa-gg"></i>阅读全文</a>
          <a class="comment" href="{{ post.url | prepend: site.url }}#post-comment"><i
                  class="fa fa-comment-o"></i>评论</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
-->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
