<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <font color="black">{{ site.title }}</font>
        </a>
      </h1>
      <p class="lead"><font color="black">{{ site.description }}</font></p>
    </div>

    <nav class="sidebar-nav">
      <li><a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li>
      <!--<a class="sidebar-nav-item" href="/pages/category/">Category</a>
      <a class="sidebar-nav-item" href="/pages/archives/">Archives</a> -->
      
    <!--<nav id="nav-->
     <!-- <ul>-->
      {% for nav in site.data.nav %}
        <!--<li>
          <a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}><i class="{{ nav.icon }}"></i>&nbsp;{{ nav.title }}</a><br>
          </li>-->
          <li><a href="{{ nav.href }}"{% if nav.newblank == true %}target="_blank"{% endif %}>{{ nav.title }}</a></li>
      {% endfor%}
     <!-- </ul> -->
    <!--</nav>--> 
  
      
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      
      <!--a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a-->
      <!--- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
      <nav id="sub-nav"> 
        <a class="weibo " href="{{ site.author.weibo }}" title="新浪微博" target="_blank"><span style="font-size:20px;"><i class="fa fa-weibo"></i></span></a> 
        <a class="github" href="{{ site.author.github }}" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a> 
        <a class="rss" href="/page/feed.xml" title="RSS订阅" target="_blank"><i class="fa fa-rss"></i></a> 
      </nav> 

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
