---
layout: default
title: Archives
---
<div class="posts">
{% for post in site.posts reverse %}
{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
{% if year != y %}{% assign year = y %}<h1 class="year">{{ post.date | date: "%Y" }}</h1>{% endif %}
<div class="timing">
  <nobr><time class="time">{{ post.date | date: "%m" }}-{{ post.date | date: "%d" }}</time>
  <div class="link"><a href="{{ post.url }}">{{post.title}}</a></div></nobr>
  <div class="point-time "></div>
</div>
{% endfor %}
</div>
<br/>

